
.fichier{
    width: 1125px;
    height: 237px;
    padding: 0px;
}
.Tblock{
    width: 50px;
    height: 100px;
    border-style: solid;
    border-width: medium;
    border-color: #1D74AD;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    display: inline-block;



}
.Tenreg{
    width:20px ;
    height: 20px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-top: 5px;
    margin-left: 2px;
    position: relative;
    left: 9px;
    display:flex;
    /*background-color: #b1bbff;*/
}

.TenregO{
    width:20px ;
    height: 20px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-top: 5px;
    margin-left: 2px;
    position: relative;
    display:flex;
    opacity: 0;
    /*background-color: #b1bbff;*/
}

.premierecasevide{
    width:20px ;
    height: 20px;
    position: relative;
    margin: 10px;
    background-color: #1fdfff;
}
.bata{
    width:10px ;
    height: 10px;
    color: black;
    margin: 5px;
    position: center;
    font-size: 8px;


}

.overflow{
    width: 30px;
    height: 150px;
    border-style: none;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    right: 11px;
    display: inline-block;


}


#information{
    width: 300px;
    height: 200px;
    border-style: solid;
    border-width: medium;
    border-color: #1D74AD;
    margin-right: 100px;
    margin-left: 20px;
    position: relative;
    display: inline-block;


}

#information2{
    width: 300px;
    height: 200px;
    border-style: solid;
    border-width: medium;
    border-color: #1D74AD;
    top: 68px;

    margin-left: 100px;

    position: relative;


    display: inline-block;


}
#espace{
    width: 1000px;
    height: 50px;

}

#calculadr{
    border: 3px outset #1D74AD;
    border-radius: 40px 40px 40px 40px;
    width: 200px;
    height: 50px;

}

#adr{
    position: center;
    margin-top: 10px;
    margin-left: 17px;
}
#container{
    display: inline-block;
}